<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="freaktemplate.kingburger">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activity.StripeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Home"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DetailPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CompleteOrder"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PlaceOrderInfo"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" /> <!-- Facebook setting for share -->
        <activity
            android:name=".activity.Favourite"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BookOrder"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OrderDetail"
            android:screenOrientation="portrait" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <activity
            android:name=".activity.deliveryBoySection.LoginAsDelivery"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.deliveryBoySection.DeliveryBoyHome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.deliveryBoySection.DeliveryBoyProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.deliveryBoySection.DeliveryBoyHistory"
            android:screenOrientation="portrait" /> <!-- setting of firebase -->
        <activity
            android:name=".activity.AboutUs"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OurPolicy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.deliveryBoySection.DeliveryBoyOrderDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".utils.AlreadyRegisterDialog" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBCulDSLYBZ1NG2HVxDfqPRIO6qW69wHpk" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4c3bf8b832aed21e1dd8cda2dd72dd3e6e9b15a2" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider528839590855948"
            android:exported="false" />

        <service
            android:name=".firebase.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.paypal.android.sdk.payments.PayPalService"
            android:exported="false" />

        <activity
            android:name="com.paypal.android.sdk.payments.PaymentActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.paypal.android.sdk.payments.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.paypal.android.sdk.payments.PaymentMethodActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="freaktemplate.cakeshop.braintree" />
            </intent-filter>
        </activity>

        <activity
            android:name="io.card.payment.CardIOActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name="io.card.payment.DataEntryActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>